* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    
}
#main {
    display: inline;
}

#leftMenu {
    width: 240px;
    /* height: 100vh;  */
    background-color:  #0FCFF1;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    /* display: none; */
}

ul {
    list-style: none;
}
#leftMenu .logo {
    padding: 40px 10px;
}

#leftMenu .nav-logo {
    width: 100%;
}

#leftMenu li {
    padding: 20px 0;
    /* margin: 20px 0; */
    color: #fff;
    text-align: center;
}

#nav li{
    /* display: block; */
    width: 100%;
    transition: background-color 0.5s;
}

#nav li:hover{
    background-color: #08a5c0;
    /* color: #fff; */
}

#nav li a {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
}


#content {
    width: 100%;
    height: 100vh;
    padding-top: 50%;
    background: url('./assets/img/2.jpg') top center / cover no-repeat;
}
